* { margin: 0; padding: 0;}
body { font-family: sans-serif;}
ol, li { list-style: none; }
a { text-decoration: none;
    color:black;
}
img { border: 0; }

/*class선택자 CSS*/

.profileImg img{
    width: 12em;
    height: 12em;
    float: left;
    margin-right: 3em;
    margin-left: 3em;
    border-radius: 70%;
    overflow: hidden;
}

.profileMsg > h1 {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* diaries : 사용자가 올린 모든 다이어리 사진을 3개씩 묶음으로 보여줌*/

.diaries {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.diaries article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 1.25em 2.5em 1.25em;
}

.diaries article > .image {
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.diaries article > .image img {
    display: block;
    width: 100%;
}

.diaries article > .image img:hover {
    opacity:0.5;
}

/*diary : 사용자의 특정 다이어리 내용 조회시 사용*/
.diary {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    padding: 2em 2em 1em 0.5em;
}
.diary img {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    margin: 0 0em 2.5em 2em;
    width: 50%;
    float:left;
    padding-right:3em;
}

.diaryMain {
    width: 100%;
    /*height: 550px;*/
    height:100%;
}

/*extra-info : 사용자 다이어리의 메타정보들*/
.extra-info {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
.extra-info span {
    padding-left:15px;
}

/*button 관련 CSS*/
.buttons {
    text-align: center;
}

.btn-default{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: #f56a6a !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap; }
.btn-default:hover {
    background-color: rgba(245, 106, 106, 0.05); }
.btn-danger {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: #f56a6a !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #f56a6a;
    box-shadow: none;
    color: #ffffff !important; }
.btn-danger:hover {
    background-color: #f67878; }

.input-default {
    border-radius:0.375em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    width: 40% ;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.65;
    writing-mode: horizontal-tb;
    text-align: start;
}

/*수정창 셀렉트*/
.select-basic {
    position:relative;
    height: 2.75em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(210, 215, 217, 0.75)' /%3E%3C/svg%3E");
    background-size: 1.25em;
    background-repeat: no-repeat;
    padding-right: 2.75em;
    text-overflow: ellipsis;
    background: #ffffff;
    border-radius: 0.375em;
    border: solid 1px rgba(210, 215, 217, 0.75);
    color: inherit;
    display: block;
    outline: 0;
    /*padding: 0 1em;*/
    text-decoration: none;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.65;
    display:block;
    width: 150px;
}

.outer-diaryEx * {
    display: inline-block;
}

.outer-diaryEx button {
    float:right;
}

.outer-diaryEx .btn-default {
    height: 2.75em;
    line-height: 1.65;
    margin-left: 25px;
}

.outer-diaryEx .btn-danger {
    height: 2.75em;
    line-height: 1.65;
    margin-left: 25px;
}

.diaryEx * {
    margin: 0 auto;
    display: inline-block;
    font-size: 10pt;
}
.diaryEx p {
    margin-left: 25px;
    margin-right:10px;
}

.register-diaryEx {
    box-shadow: inset 0 0 0 2px #f56a6a;
    color: black;
    width: fit-content;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.375em;
}

.register-diaryEx > * {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fileDrop {
    margin-top: 2em;
    margin-left: 10%;
    width: 80%;
    /*height: 8em;*/
    height: 200px;
    border: 2px dotted #f56a6a;
}

/*ID선택자 CSS*/

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    min-height: 100vh;
}

#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}
#main > .inner {
    padding: 2em 7em 3em 7em;
    margin: 0 auto;
    max-width: 110em;
}
#header {
    position: static;
    padding: 0 0.5em 0.5em 0.5em;
    /* padding: 0 5px 5px 5px; */
    border-bottom: solid 5px #f56a6a;
}
#header ul {
    float: right;
}
#banner {
    margin-top: 20px;
    padding: 0 0.5em 1em 1em;
    border-bottom: solid 2px #DCDCDC;
}

#banner > div {
    display: inline-block;
    vertical-align: middle;
    width: 17em;
    height: 13em;
}


#diaryText {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    left:20px;
    top:20px;
}

#diaryDetails {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position:relative;
    top:10px;
}

#diaryTitle {
    position: relative;
    display:block;
}

#input-title {
    height:40px;
}

#input-content {
    height: 420px;
}

#register-title {
    margin-left:10%;
    margin-top:1.5em;
    width: 80%;
    height: 2em;
}

#register-Detail {
    margin-left:10%;
    margin-top:1em;
    width: 80%;
    height: 100%;
}

